@font-face {
    font-family: excalidrawFont;
    src: url('../fonts/Excalifont-Regular.woff2');
}

:root {
    --avatar-full-width: 267px;
    --avatar-full-height: 237px;
    --avatar-nav-width: 69px;

    --settings-full-width: 154px;
    --settings-full-height: 142px;
    --settings-nav-width: 60px;

    --img-size: 100%;
    --img-threefourths-size: 75%;
    --img-half-size: 50%;
    --img-onefourths-size: 25%;

    --nav-height: 8vh;
}

body {
    margin: 0;
    font-family: excalidrawFont, monospace;
}

nav {
    width: 100vw;
    height: var(--nav-height);
    background: #e9ecef;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}

.right {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

#avatar {
    background-image: url('../images/waardle/avatar.png');
    background-size: contain;
    width: var(--avatar-nav-width);
    height: var(--nav-height);
}

#avatar:hover {
    background-image: url('../images/waardle/avatarOnHover.png');
    cursor: pointer;
}

#settings {
    background-image: url('../images/waardle/settings.png');
    background-size: contain;
    width: var(--settings-nav-width);
    height: var(--nav-height);
}

#settings:hover {
    background-image: url('../images/waardle/settingsOnHover.png');
    cursor: pointer;
}

#settings, #other {
    margin-left: 30px;
}

.dropdown-arrow {
    width: 30px;
    height: 20px;
}

.logo, #difficulty, #other {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown {
    font-family: excalidrawFont, monospace;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.dropdown:hover {
    color: #6741d9;
    cursor: pointer;
}

#waardle {
    margin-left: 20px;
}

/* Guesses */
.container {
    width: 100vw;
    height: 88vh;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.rows {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.tile {
    width: 80px;
    height: 80px;
    background-size: contain;
}

p {
    align-content: center;
    text-align: center;
    justify-self: center;
    font-size: 42px;
    margin-top: 18%;
}

button {
    width: 40px;
    height: 50px;
    background: white;
    margin: 5px 1px;
}

button #enter {}
button #delete {}

/* ALL TILES */
#row1_tile1 {
    background-image: url('../images/waardle/tiles/row1_tile1.svg');
}

#row1_tile2 {
    background-image: url('../images/waardle/tiles/row1_tile2.svg');
}

#row1_tile3 {
    background-image: url('../images/waardle/tiles/row1_tile3.svg');
}

#row1_tile4 {
    background-image: url('../images/waardle/tiles/row1_tile4.svg');
}

#row1_tile5 {
    background-image: url('../images/waardle/tiles/row1_tile5.svg');
}

#row2_tile1 {
    background-image: url('../images/waardle/tiles/row2_tile1.svg');
}

#row2_tile2 {
    background-image: url('../images/waardle/tiles/row2_tile2.svg');
}

#row2_tile3 {
    background-image: url('../images/waardle/tiles/row2_tile3.svg');
}

#row2_tile4 {
    background-image: url('../images/waardle/tiles/row2_tile4.svg');
}

#row2_tile5 {
    background-image: url('../images/waardle/tiles/row2_tile5.svg');
}

#row3_tile1 {
    background-image: url('../images/waardle/tiles/row3_tile1.svg');
}

#row3_tile2 {
    background-image: url('../images/waardle/tiles/row3_tile2.svg');
}

#row3_tile3 {
    background-image: url('../images/waardle/tiles/row3_tile3.svg');
}

#row3_tile4 {
    background-image: url('../images/waardle/tiles/row3_tile4.svg');
}

#row3_tile5 {
    background-image: url('../images/waardle/tiles/row3_tile5.svg');
}

#row4_tile1 {
    background-image: url('../images/waardle/tiles/row4_tile1.svg');
}

#row4_tile2 {
    background-image: url('../images/waardle/tiles/row4_tile2.svg');
}

#row4_tile3 {
    background-image: url('../images/waardle/tiles/row4_tile3.svg');
}

#row4_tile4 {
    background-image: url('../images/waardle/tiles/row4_tile4.svg');
}

#row4_tile5 {
    background-image: url('../images/waardle/tiles/row4_tile5.svg');
}

#row5_tile1 {
    background-image: url('../images/waardle/tiles/row5_tile1.svg');
}

#row5_tile2 {
    background-image: url('../images/waardle/tiles/row5_tile2.svg');
}

#row5_tile3 {
    background-image: url('../images/waardle/tiles/row5_tile3.svg');
}

#row5_tile4 {
    background-image: url('../images/waardle/tiles/row5_tile4.svg');
}

#row5_tile5 {
    background-image: url('../images/waardle/tiles/row5_tile5.svg');
}

#row6_tile1 {
    background-image: url('../images/waardle/tiles/row6_tile1.svg');
}

#row6_tile2 {
    background-image: url('../images/waardle/tiles/row6_tile2.svg');
}

#row6_tile3 {
    background-image: url('../images/waardle/tiles/row6_tile3.svg');
}

#row6_tile4 {
    background-image: url('../images/waardle/tiles/row6_tile4.svg');
}

#row6_tile5 {
    background-image: url('../images/waardle/tiles/row6_tile5.svg');
}