.startside, .login, .signup{

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
    gap: 10px;

}

#loginknap, #signupknap{
    padding: 20px;
    width: fit-content;


}
:root {
    --avatar-full-width: 267px;
    --avatar-full-height: 237px;
    --avatar-nav-width: 69px;

    --img-size: 100%;
    --img-threefourths-size: 75%;
    --img-half-size: 50%;


    --nav-height: 8vh;
}

nav {
    width: 100vw;
    height: 8vh;
    background: #e9ecef;
    display: flex;
    justify-content: center;
    text-align: center;
}
#avatar {
    background-image: url('../images/waardle/avatar.png');
    background-size: contain;
    width: var(--avatar-nav-width);
    height: var(--nav-height);
    background-repeat: no-repeat;
    background-position: center;
}
.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo {
    text-align: center;
}

