<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/waardle.css">
    <title>Wårdle</title>
</head>
<body>
<header>
    <nav>
        <div class="left">
            <a href="#avatr">
                <div id="avatar"></div>
            </a>
            <div class="logo">
                <h1 id="waardle">Wårdle</h1>
            </div>
        </div>
        <div class="right">
            <div id="difficulty">
                <a href="#1drop" class="dropdown"><h4>Sværhedsgrad<img src="../../public/images/waardle/dropdown.png" alt="" class="dropdown-arrow"></h4></a>
            </div>
            <div id="other">
                <a href="#2drop" class="dropdown"><h4>Andet<img src="../../public/images/waardle/dropdown.png" alt="" class="dropdown-arrow"></h4></a>
            </div>
            <a href="#setti">
                <div id="settings"></div>
            </a>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="screen">
            <div class="rows">
                <div class="row" id="row1">
                    <div class="tile" id="row1_tile1">
                        <p id="input1"></p>
                    </div>
                    <div class="tile" id="row1_tile2">
                        <p id="input2"></p>
                    </div>
                    <div class="tile" id="row1_tile3">
                        <p id="input3"></p>
                    </div>
                    <div class="tile" id="row1_tile4"></div>
                    <div class="tile" id="row1_tile5"></div>
                </div>
                <div class="row" id="row2">
                    <div class="tile" id="row2_tile1"></div>
                    <div class="tile" id="row2_tile2"></div>
                    <div class="tile" id="row2_tile3"></div>
                    <div class="tile" id="row2_tile4"></div>
                    <div class="tile" id="row2_tile5"></div>
                </div>
                <div class="row" id="row3">
                    <div class="tile" id="row3_tile1"></div>
                    <div class="tile" id="row3_tile2"></div>
                    <div class="tile" id="row3_tile3"></div>
                    <div class="tile" id="row3_tile4"></div>
                    <div class="tile" id="row3_tile5"></div>
                </div>
                <div class="row" id="row4">
                    <div class="tile" id="row4_tile1"></div>
                    <div class="tile" id="row4_tile2"></div>
                    <div class="tile" id="row4_tile3"></div>
                    <div class="tile" id="row4_tile4"></div>
                    <div class="tile" id="row4_tile5"></div>
                </div>
                <div class="row" id="row5">
                    <div class="tile" id="row5_tile1"></div>
                    <div class="tile" id="row5_tile2"></div>
                    <div class="tile" id="row5_tile3"></div>
                    <div class="tile" id="row5_tile4"></div>
                    <div class="tile" id="row5_tile5"></div>
                </div>
                <div class="row" id="row6">
                    <div class="tile" id="row6_tile1"></div>
                    <div class="tile" id="row6_tile2"></div>
                    <div class="tile" id="row6_tile3"></div>
                    <div class="tile" id="row6_tile4"></div>
                    <div class="tile" id="row6_tile5"></div>
                </div>
            </div>
        </div>
        <div class="keyboard">
            <div class="buttons">
                <div class="keyboard-rows">
                    <div id="key-row1">
                        <button type="button" id="q"></button> <!--billeder istedet for-->
                        <button type="button" id="w"></button>
                        <button type="button" id="e"></button>
                        <button type="button" id="r"></button>
                        <button type="button" id="t"></button>
                        <button type="button" id="y"></button>
                        <button type="button" id="u"></button>
                        <button type="button" id="i"></button>
                        <button type="button" id="o"></button>
                        <button type="button" id="p"></button>
                        <button type="button" id="aa"></button>
                    </div>
                    <div id="key-row2">
                        <button type="button" id="a"></button>
                        <button type="button" id="s"></button>
                        <button type="button" id="d"></button>
                        <button type="button" id="f"></button>
                        <button type="button" id="g"></button>
                        <button type="button" id="h"></button>
                        <button type="button" id="j"></button>
                        <button type="button" id="k"></button>
                        <button type="button" id="l"></button>
                        <button type="button" id="ae"></button>
                        <button type="button" id="oe"></button>
                    </div>
                    <div id="key-row3">
                        <button type="button" id="z"></button>
                        <button type="button" id="x"></button>
                        <button type="button" id="c"></button>
                        <button type="button" id="v"></button>
                        <button type="button" id="b"></button>
                        <button type="button" id="n"></button>
                        <button type="button" id="m"></button>
                        <button type="submit" id="enter"></button>
                        <button type="reset" id="delete"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="../../public/js/waardle.js"></script>
</body>
</html>