<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Start</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/waardle.css" rel="stylesheet">

</head>

<body>
<script src="/javascript/script.js"></script>
<header>
    <nav>
        <div class="left">
            <a href="#avatr">
                <div id="avatar"></div>
            </a>
            <div class="logo">
                <h1 id="waardle">Wårdle</h1>
            </div>

        </div>
    </nav>
</header>
<form class="startside">
    <button onclick="goToLogin()" id="loginknap"> Log ind </button>
    <button onclick="goToCreate()" id="signupknap"> Opret bruger </button>
    <a href="" > Fortsæt som gæst </a>
</form>
</body>
</html>