<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spin App</title>
    <link rel="stylesheet" href="/css/spin-styles.css">
</head>
<body>

<div class="container">
    <div class="logo-box">
        <img th:src="@{/images/stw/stw-logo.jpg}" alt="Spin The Wheel logo">
    </div>

    <div class="title">Indtast valgmuligheder</div>

    <form action="/stw/result" method="post" class="form-box">
        <input type="text" name="option1" placeholder="Valg 1">
        <input type="text" name="option2" placeholder="Valg 2">
        <input type="text" name="option3" placeholder="Valg 3">
        <input type="text" name="option4" placeholder="Valg 4">
        <input type="text" name="option5" placeholder="Valg 5">

        <button type="submit" class="spin-btn">SPIN</button>
    </form>
</div>


</body>
</html>